<!doctype html>
<html lang="en-gb" class="template-{{page.template.name}}">

<head>
    <meta name="robots" content="noindex, nofollow">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">

    <title>{{page.meta_title}}</title>

    <meta name="description" content="This page is called {{page.title}}">

    <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
    <link rel="manifest" href="./favicon/site.webmanifest">
    <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="./css/uikit-theme.min.css" />
    <link rel="stylesheet" href="./css/main.min.css" />
</head>

<body>

    <header class="header">
        <nav class="uk-navbar-container uk-navbar uk-navbar-transparent" data-uk-navbar>

            <div class="uk-navbar-left">
                <a href="./" class="uk-navbar-item uk-logo">
                    <img src="{{logo}}" alt="{{nb.siteName}} Logo">
                </a>
            </div>

            {{#if menu}}
            <div class="uk-navbar-right">
                <div id="nav">
                    {{> renderNavigation desktop=true}}
                </div>
                <button href="#nav" class="uk-navbar-toggle uk-hidden@s"
                    data-uk-toggle="animation: uk-animation-slide-left;" aria-label="Toggle Navigation">
                    <span data-uk-navbar-toggle-icon></span>
                </button>

                <div id="nav" class="uk-modal-container uk-hidden@s" data-uk-modal>
                    <button class="uk-modal-close-default" type="button" data-uk-close></button>
                    <div>
                        {{> renderNavigation}}
                    </div>
                </div>
            </div>
            {{/if}}

        </nav>
        <div class="header-shape uk-background-cover" role="presentation" data-uk-img
            style="background-image: url('./img/header-shape.svg');"></div>
    </header>

    <main>

        {{#if page.banner}}
        {{> banner}}
        {{else}}
        {{#> ukContainer size=(default page.ukContainer ukContainer) class="uk-margin-top"}}
        {{#*inline "out"}}
        <h1>{{page.h1}}</h1>
        {{/inline}}
        {{/ukContainer}}
        {{/if}}

        {{#> main}}{{/main}}

    </main>

    <footer class="footer">
        <div class="footer-top">
            {{#> ukContainer class="uk-text-center"}}
            {{#*inline "out"}}

            <div class="uk-flex uk-flex-middle uk-flex-between">
                <div class="uk-width-2-3@m uk-text-left">
                    <p>The North Isles Virtual Dive project is delivered as part of the <strong>North Isles Landscape
                            Partnership
                            Scheme (NILPS) programme</strong>, which has been created to support life in Orkney’s
                        North Isles, while
                        conserving and raising awareness of their distinctive identities, heritage and culture. Visit
                        NILPS’
                        main website for more information on the programme.</p>
                </div>
                <a href="#" class="uk-button uk-button-primary uk-button-large">
                    visit nilps.co.uk
                    {{>renderIcon name="chevron-right" viewBox="24 24"}}
                </a>
            </div>
            {{/inline}}
            {{/ukContainer}}
        </div>
        <div class="footer-middle">
            {{#> ukContainer}}
            {{#*inline "out"}}

            <a href="#">
                <img width="200" height="88" loading="lazy" src="./img/footer-logo.png" alt="NILPS logo">
            </a>

            {{#> ukGrid class="uk-grid-large uk-child-width-1-3@m uk-child-width-1-2@s uk-margin-medium-top"}}
            {{#*inline "cells"}}

            <div>
                <p class="uk-margin-medium-bottom">Sign up to our mailing list to find out how you can get involved in
                    our NILPS projects.</p>
                <a href="#" class="uk-button uk-button-primary uk-width-1-1 uk-display-block uk-text-left">sign up to
                    our mailing list
                    {{>renderIcon name="chevron-right" viewBox="24 24"}}
                </a>
            </div>

            <div>
                <p class="text-medium">If you'd like to find out more about the NILPS please feel free to contact us.
                </p>
                <p>Email <a href="mailto:info@nilps.co.uk"
                        class="uk-button uk-button-link uk-text-light">info@nilps.co.uk</a></p>
            </div>

            <div class="uk-flex uk-flex-column uk-flex-bottom">
                <p class="uk-margin-small-bottom text-medium">Stay Connected</p>
                <ul class="uk-list uk-flex uk-flex-middle uk-margin-remove-top">
                    <li>
                        <a class="uk-border-circle uk-display-inline-block uk-position-relative" href="#"
                            rel="noopener noreferrer" target="_blank" aria-label="Facebook">
                            {{> renderIcon name="facebook" class="uk-position-center"}}
                        </a>
                    </li>
                    <li class="uk-margin-remove-top uk-margin-small-left">
                        <a class="uk-border-circle uk-display-inline-block uk-position-relative" href="#"
                            rel="noopener noreferrer" target="_blank" aria-label="Twitter">
                            {{> renderIcon name="twitter" class="uk-position-center"}}
                        </a>
                    </li>
                    <li class="uk-margin-remove-top uk-margin-small-left">
                        <a class="uk-border-circle uk-display-inline-block uk-position-relative" href="#"
                            rel="noopener noreferrer" target="_blank" aria-label="Linkedin">
                            {{> renderIcon name="linkedin" class="uk-position-center"}}
                        </a>
                    </li>
                </ul>
            </div>

            {{/inline}}
            {{/ukGrid}}

            {{/inline}}
            {{/ukContainer}}
        </div>
        <div class="footer-credits">
            {{#> ukContainer}}
            {{#*inline "out"}}
            <p class="uk-text-light"><span>Credits:</span> Map illustration: <strong>Iain
                    Ashman</strong> Written content: <strong>Aquatera Ltd</strong> Photographs: <strong>Dr Richard
                    Shucksmith; Dr Joanne Porter; Dr Andrew Want</strong> Virtual Dive film creation: <strong>Lorem
                    Ipsum</strong></p>
            {{/inline}}
            {{/ukContainer}}
        </div>
        <div class="footer-bottom">
            {{#> ukContainer}}
            {{#*inline "out"}}
            <div class="uk-flex uk-flex-between">
                <p class="copyright">Copyright &copy; {{year}} {{nb.clientName}}. All rights
                    reserved.
                </p>

                <p class="watermark uk-margin-remove-top">
                    Website by <a title="NB Communication - Digital Marketing Agency" target="_blank" rel="noopener"
                        href="https://www.nbcommunication.com/">NB Communication Ltd</a>
                </p>
            </div>
            {{/inline}}
            {{/ukContainer}}
        </div>
    </footer>

    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 785 154.7' style='position:absolute;' height='0' width='0'>
        <defs>
            <clipPath id='svgPathButton' clipPathUnits='objectBoundingBox'
                transform='scale(0.00127388535, 0.00646412411)'>
                <path d="M780,2.9c-6.7-0.5-36.6-0.1-52.7,0c-16.2,0.1-204.5-0.6-220.6-0.6c-16.1,0.1-449.5-1-464-1.9
	C31.9-0.2,11.5,0,11.5,0S4.1,0.1,2.9,1.1C-3,6,1.7,154.1,3.4,154.5c1.6,0.3,533.6,0.3,553,0c23.4-0.5,205.5-0.1,221.3,0
	C787.4,154.4,786.7,3.4,780,2.9z"></path>
            </clipPath>
        </defs>
    </svg>
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 331' style='position:absolute;' height='0' width='0'>
        <defs>
            <clipPath id='svgPathLinks' clipPathUnits='objectBoundingBox' transform='scale(0.0025, 0.00302114803)'>
                <path
                    d="M254.313 5.672c.24.063.634.063.875 0 .24-.063.043-.114-.438-.114s-.678.051-.437.114m28.753.257c.38.058.942.056 1.25-.003.307-.059-.003-.106-.691-.104-.687.001-.939.05-.559.107"
                    fill="#39f" />
                <path
                    d="M252.563 5.672c.24.063.634.063.875 0 .24-.063.043-.114-.438-.114s-.678.051-.437.114m28.125.254c.309.06.815.06 1.125 0 .309-.059.056-.108-.563-.108s-.872.049-.562.108"
                    fill="#3bb1d8" />
                <path
                    d="M251.063 5.672c.24.063.634.063.875 0 .24-.063.043-.114-.438-.114s-.678.051-.437.114m27.375.254c.309.06.815.06 1.125 0 .309-.059.056-.108-.563-.108s-.872.049-.562.108"
                    fill="#43c9c9" />
                <path
                    d="M297.697 6.185c.865.049 2.215.049 3-.001.786-.049.078-.089-1.572-.089-1.65.001-2.292.041-1.428.09m15.991 0c.859.049 2.265.049 3.125 0 .859-.049.156-.089-1.563-.089-1.719 0-2.422.04-1.562.089"
                    fill="#55c5d3" />
                <path
                    d="M287.682 6.18a9.201 9.201 0 001.75.002c.519-.054.155-.099-.807-.1-.962-.001-1.387.043-.943.098m33.756-.004c.309.06.815.06 1.125 0 .309-.059.056-.108-.563-.108s-.872.049-.562.108"
                    fill="#55c4d3" />
                <path d="M265.563 5.922c.24.063.634.063.875 0 .24-.063.043-.114-.438-.114s-.678.051-.437.114"
                    fill="#4fc6d3" />
                <path
                    d="M259.063 5.922c.24.063.634.063.875 0 .24-.063.043-.114-.438-.114s-.678.051-.437.114m32.884.263c.865.049 2.215.049 3-.001.786-.049.078-.089-1.572-.089-1.65.001-2.292.041-1.428.09m27.119-.006c.38.058.942.056 1.25-.003.307-.059-.003-.106-.691-.104-.687.001-.939.05-.559.107"
                    fill="#56c6d6" />
                <path
                    d="M262.313 5.922c.24.063.634.063.875 0 .24-.063.043-.114-.438-.114s-.678.051-.437.114m42.388.265c1.416.044 3.666.044 5-.001 1.333-.045.174-.081-2.576-.081s-3.841.037-2.424.082"
                    fill="#52c7d6" />
                <path d="M267.19 5.927c.311.06.761.057 1-.005.239-.063-.015-.112-.565-.109-.55.003-.746.054-.435.114"
                    fill="#55c3d7" />
                <path
                    d="M247.813 5.672c.24.063.634.063.875 0 .24-.063.043-.114-.438-.114s-.678.051-.437.114m26.003.257c.38.058.942.056 1.25-.003.307-.059-.003-.106-.691-.104-.687.001-.939.05-.559.107"
                    fill="#58c7d7" />
                <path
                    d="M246.313 5.672c.24.063.634.063.875 0 .24-.063.043-.114-.438-.114s-.678.051-.437.114m25.253.257c.38.058.942.056 1.25-.003.307-.059-.003-.106-.691-.104-.687.001-.939.05-.559.107"
                    fill="#57c9d7" />
                <path
                    d="M394.375.771c-10.444 1.293-32.823 3.462-46.25 4.482-19.429 1.475-74.895 1.199-202.875-1.01C101.338 3.484 41.817 2.33 16.625 1.749 10.712 1.612 4.553 1.5 2.938 1.5H0V331h400V.25l-.937.028c-.516.016-2.625.238-4.688.493"
                    fill="#54cad8" />
                <path
                    d="M276.066 5.929c.38.058.942.056 1.25-.003.307-.059-.003-.106-.691-.104-.687.001-.939.05-.559.107"
                    fill="#55c6d9" />
                <path d="M269.188 5.926c.309.06.815.06 1.125 0 .309-.059.056-.108-.563-.108s-.872.049-.562.108"
                    fill="#55ccd7" />
            </clipPath>
        </defs>
    </svg>
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 195' style='position:absolute;' height='0' width='0'>
        <defs>
            <clipPath id='svgPathFooterTop' clipPathUnits='objectBoundingBox'
                transform='scale(0.000625, 0.00512820512)'>
                <path class="st0"
                    d="M1600,0c0,0-117.6,14.6-228.6,22C1219.5,32.2,0,5.1,0,5.1v138.7c0,0,925.5,51.1,982.5,51.1  c58.2,0,617.5-1.5,617.5-1.5V0z" />
            </clipPath>
        </defs>
    </svg>
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 20.647' style='position:absolute;' height='0' width='0'>
        <defs>
            <clipPath id='svgPathFooterMiddle' clipPathUnits='objectBoundingBox'
                transform='scale(0.0025, 0.04843318641)'>
                <path
                    d="M398.375.191c-.237.238-1.243.334-1.103.106.057-.092-.047-.084-.24.019-.188.101-.459.138-.603.082-.151-.058-.262-.013-.262.105 0 .139-.161.173-.5.105-.309-.061-.5-.031-.5.081 0 .099-.113.137-.252.084-.138-.054-.457-.017-.708.081-.251.098-.757.198-1.124.221-.366.023-.81.104-.985.179-.225.096-.284.079-.2-.057.078-.126.03-.159-.139-.094-.143.055-.259.166-.259.248 0 .082-.113.149-.25.149s-.251-.094-.253-.208c-.001-.141-.052-.13-.157.037-.085.134-.209.191-.274.126-.065-.065-.201-.055-.301.024-.313.245-1.641.392-1.502.166.085-.137.051-.151-.112-.046-.203.13-1.24.326-3.484.659-.625.093-1.198.198-1.334.246-.046.015-.327.031-.625.034-.298.003-.541.075-.541.16s-.075.109-.167.052c-.092-.057-.259-.046-.372.024-.29.179-.797.198-.69.025.049-.079-.124-.096-.383-.037-.259.059-.64.123-.845.143-.206.02-.422.085-.481.143-.058.059-.255.027-.438-.07-.239-.128-.3-.127-.218.005.062.101.053.188-.021.194a114.143 114.143 0 01-2.385.236c-.688.061-1.276.184-1.308.273-.036.1-.14.094-.272-.016-.148-.123-.351-.125-.664-.006-.248.095-.528.124-.622.066-.095-.058-.237-.003-.317.124-.111.174-.146.178-.148.015-.002-.148-.092-.169-.294-.068-.161.08-.678.139-1.151.131-.472-.008-.833.026-.802.077.031.051-.182.102-.474.113-1.102.044-3.365.293-3.365.37 0 .019-.2.05-.445.068-.245.018-.41-.025-.366-.097.108-.174-.133-.16-.425.025-.13.082-.396.088-.592.014-.196-.074-.469-.072-.607.005s-.929.18-1.756.228c-.828.048-1.642.141-1.809.205-.234.09-.272.062-.162-.12.113-.187.092-.198-.098-.051a.957.957 0 01-.49.185c-.458-.002-1.891.229-2.056.331-.095.058-.108.012-.032-.11.094-.154.038-.182-.208-.104-.185.059-.776.139-1.312.178-.536.039-1.144.107-1.35.151-.207.044-.375.026-.375-.04 0-.175-1.504-.086-2.042.122-.329.127-.458.125-.458-.007 0-.121-.084-.113-.25.025-.173.143-.25.15-.25.02 0-.102-.08-.187-.177-.187-.097 0-.14.059-.096.13.1.163-.59.142-.861-.026-.11-.068-.2-.063-.2.011 0 .075-.187.146-.415.159-.252.015-.373-.045-.308-.15.07-.114.026-.124-.126-.029-.129.08-.347.165-.484.188-.869.148-1.333.15-1.333.007 0-.093-.102-.079-.235.031-.162.134-.27.14-.344.02-.073-.119-.208-.121-.42-.008-.437.234-1.052.217-.902-.025.082-.132.045-.146-.115-.045-.129.081-.684.161-1.234.178-.55.017-1.122.079-1.271.138-.364.145-1.2.044-1.352-.162-.077-.105-.123-.092-.125.033-.001.13-.335.203-.961.21-3.038.032-3.708.067-3.708.193 0 .076-.197.064-.437-.027-.306-.117-.506-.109-.667.024-.174.145-.229.141-.229-.016 0-.155-.057-.161-.224-.022-.123.102-.267.142-.319.09-.088-.087-1.512-.108-4.536-.064-.639.009-1.27.106-1.402.214-.186.154-.256.152-.31-.009-.05-.148-.158-.16-.379-.041-.198.106-.346.108-.409.005-.062-.099-.251-.103-.497-.01-.446.17-1.091.16-1.091-.017 0-.064-.412-.104-.915-.089-.504.014-.916.077-.917.139-.001.063-.226.049-.501-.03-.3-.086-.5-.081-.5.012 0 .233-.626.187-.724-.053-.055-.137-.132-.15-.222-.04-.086.104-1.716.173-4.304.18-2.292.006-5.049.071-6.127.142-1.474.099-2.021.08-2.208-.075-.172-.143-.249-.149-.249-.019 0 .125-.451.177-1.375.156l-1.375-.03 1.334-.106 1.333-.106-1.361-.03c-.767-.017-1.385.04-1.417.132-.036.106-3.153.121-8.847.042-5.073-.07-8.792-.059-8.792.026 0 .085-6.543.12-15.4.083-8.471-.035-15.378-.101-15.349-.147.028-.046-4.555-.083-10.183-.083-6.656 0-10.263-.059-10.318-.167-.049-.1-.122-.083-.18.042-.127.271-1.183.271-1.293 0-.046-.115-.09-.134-.097-.042-.014.18-.971.181-3.12.002-.908-.075-1.394-.053-1.468.068-.132.213-1.092.245-1.092.036 0-.08-.298-.09-.662-.023-.364.066-.622.056-.573-.023.048-.079.009-.143-.088-.143-.097 0-.177.056-.178.125-.001.068-.451.14-1 .159-.549.018-.999-.032-.999-.113 0-.08-.6-.133-1.333-.117-.734.016-1.334-.032-1.333-.106 0-.074-.083-.084-.183-.022-.101.062-1.094.099-2.208.081-1.114-.018-2.139-.03-2.276-.025-1.248.039-2.538.005-3.125-.082-.475-.07-.708-.043-.708.082 0 .131-.1.125-.334-.021-.266-.166-.4-.166-.666 0-.198.123-.334.14-.334.04 0-.092-.187-.168-.416-.168-.229 0-.417.079-.417.177 0 .099-.091.119-.208.046-.211-.131-1.055-.166-5.084-.207-1.623-.017-2.209-.077-2.211-.228-.001-.142-.04-.149-.125-.022-.15.224-2.872.277-2.872.056 0-.085-.15-.155-.333-.155-.184 0-.334.073-.334.162 0 .1-.146.108-.375.021-.206-.077-.525-.087-.708-.021-.438.158-3.75.192-3.75.039 0-.065-1.294-.108-2.875-.096-1.727.013-2.742-.035-2.542-.121.208-.089.083-.099-.333-.026-.367.065-2.167.092-4 .06a553.641 553.641 0 00-4.909-.065c-.91-.005-1.439-.062-1.25-.136.267-.104.275-.129.044-.139-.155-.006-.32.05-.367.125-.046.076-.369.108-.718.072-.758-.079-.776-.079-1.679.009-.392.038-.746.016-.786-.049-.04-.064-.427-.064-.86.002-.432.065-1.221.068-1.752.005-.605-.071-.987-.051-1.022.055-.037.111-.224.103-.545-.023-.301-.117-1.371-.178-2.781-.158-1.26.019-2.292-.006-2.292-.054s-.675-.088-1.5-.089c-.825-.001-1.5.051-1.5.114s-.131.087-.291.054c-1.004-.209-9.336-.424-9.034-.233.15.095.167.154.044.156a.389.389 0 01-.302-.165c-.064-.103-.773-.135-1.852-.085-.962.045-1.715.026-1.673-.041.041-.068-1.605-.123-3.658-.123s-3.734-.059-3.734-.131c0-.072-.136-.058-.302.031-.167.089-.785.126-1.375.083-.59-.044-2.209-.095-3.598-.115-1.39-.019-2.503-.073-2.475-.118.027-.046-.542-.084-1.266-.084-.725 0-1.317.041-1.317.09 0 .049-.152.101-.337.115-.185.014-.296-.04-.247-.121.051-.081-.141-.079-.434.005-.289.083-.646.089-.795.013-.149-.075-1.238-.146-2.42-.158-1.182-.011-2.286-.063-2.452-.116a.91.91 0 00-.611.069c-.194.104-.554.11-.965.017-.41-.093-.677-.089-.712.011-.03.089-.124.119-.207.067-.083-.051-.852-.115-1.708-.141-.856-.026-1.644-.101-1.751-.167-.107-.066-.194-.041-.194.056 0 .202-.548.24-.737.052-.167-.168-3.254-.161-3.15.007.045.072-.131.079-.391.016-.26-.064-.494-.171-.521-.238-.028-.067-.307-.063-.622.008-.315.071-.931.1-1.368.065a58.112 58.112 0 00-2.577-.096c-1.207-.022-1.748-.09-1.676-.21.058-.097-.036-.065-.208.073-.183.146-.262.163-.189.042.069-.115.046-.209-.051-.209-.098 0-.177.074-.177.163 0 .09-.332.149-.738.131-.457-.02-.698-.097-.634-.204.065-.11.015-.108-.138.006-.132.099-.503.153-.823.12-.321-.032-1.634-.064-2.917-.07-1.411-.007-2.375-.079-2.44-.183-.058-.095-.203-.112-.322-.039-.264.163-1.807.234-1.898.086-.081-.131-.963-.097-1.798.07-.437.087-.625.065-.625-.071 0-.107-.077-.148-.17-.09-.284.176-1.497.246-1.497.087 0-.082-.787-.132-1.75-.111-.962.021-1.75-.005-1.75-.057 0-.14-1.29-.103-1.434.04-.067.067-.278.121-.469.12-.285-.002-.302-.032-.097-.164.138-.089.171-.163.075-.164-.096-.002-.258.08-.36.182a.333.333 0 01-.409.047c-.304-.189-1.197-.184-1.335.007-.068.095-.366.072-.758-.057-.401-.132-1.002-.175-1.586-.113-.524.056-.982.031-1.036-.056-.053-.086-.397-.129-.764-.096-.386.036-.626-.004-.57-.095.053-.085.017-.155-.08-.155-.098 0-.177.068-.177.151 0 .083-.162.109-.359.057-.278-.073-.328-.041-.218.14.118.198.098.2-.131.015-.176-.143-.537-.192-1.022-.138-.488.053-.779.014-.831-.113-.056-.137-.122-.142-.218-.017-.161.207-1.966.332-1.838.126.047-.076-.434-.123-1.07-.104-.864.025-1.126-.017-1.036-.167.078-.13.024-.122-.153.021-.318.258-1.809.224-1.999-.045-.083-.116-.167-.12-.25-.01-.166.221-.926.301-.792.083.057-.091.024-.166-.073-.166s-.177.056-.177.125c0 .149-1.439.158-1.588.009-.057-.057-.332-.038-.612.042-.283.081-.629.083-.779.004-.149-.078-.637-.105-1.084-.059-.61.062-.782.033-.688-.119.093-.151.046-.16-.187-.036-.355.188-2.237.152-2.563-.05-.156-.097-.177-.068-.076.1.12.199.099.2-.141.005-.201-.163-.282-.171-.282-.03 0 .131-.127.156-.375.074-.45-.148-1.958-.206-1.958-.075 0 .116-.886.098-1.096-.022-.085-.048-.996-.076-2.025-.062-1.029.014-1.779-.033-1.667-.104.132-.084.068-.131-.18-.133-.212-.001-.344.065-.293.146.05.082-.208.073-.574-.02-.49-.124-.729-.116-.908.032-.133.111-.33.148-.436.082-.252-.156-1.507-.241-1.417-.096.038.061-.506.028-1.209-.074-.819-.118-1.353-.127-1.487-.025-.142.109-.208.09-.208-.06 0-.161-.05-.171-.184-.037-.117.117-.357.134-.666.045-.286-.082-.483-.076-.483.016 0 .086-.113.155-.25.155-.138 0-.25-.067-.25-.149 0-.084-.252-.092-.575-.019-.317.071-.612.093-.656.048-.157-.157-1.269-.194-1.269-.042 0 .094-.163.092-.413-.003-.226-.086-1.014-.138-1.75-.116-.735.022-1.337.001-1.337-.048 0-.048-.356-.066-.792-.04-1.079.066-.993.066-2.208-.015-.623-.041-1.178.003-1.305.104-.151.12-.256.121-.333.004-.062-.095-.356-.159-.654-.144-.298.016-.543-.052-.544-.151-.002-.098-.071-.07-.155.062-.117.185-.241.2-.539.067-.213-.096-.794-.15-1.292-.121-.498.03-.998-.022-1.11-.116-.113-.094-.244-.107-.292-.03-.047.077-.373.156-.723.177-.393.022-.555-.017-.422-.104.257-.169-1.498-.133-1.772.037-.102.063-.346.029-.543-.076-.263-.141-.326-.142-.24-.002.119.191-.561.143-.895-.064-.087-.054-.206-.02-.265.075-.058.094-.195.115-.303.046-.108-.069-1.059-.145-2.113-.169a318.406 318.406 0 01-3.109-.086c-.656-.023-1.157.017-1.112.089.044.072-.207.091-.558.043-.351-.048-1.463-.127-2.471-.175-1.009-.048-1.965-.129-2.125-.179-.161-.051-.292-.018-.292.071 0 .18-.307.169-.613-.023-.109-.067-.244-.047-.301.045-.065.105-.251.071-.5-.093-.309-.202-.474-.219-.744-.074-.213.114-.812.151-1.553.097-.663-.049-2.668-.103-4.456-.119-1.787-.016-3.32-.068-3.406-.114-.086-.047-1.324-.093-2.75-.103-1.427-.009-2.676-.068-2.776-.131-.1-.062-.473-.033-.827.065-.467.129-.663.127-.707-.006C.07.459 0 2.256 0 10.833V20.5h400V.234l-.603.07c-.339.04-.652-.011-.717-.116-.085-.137-.166-.136-.305.003M243.296 6.289c.392.035.992.035 1.333-.001.342-.036.021-.065-.712-.064-.734 0-1.013.03-.621.065m31.579.169c.985.029 2.598.029 3.583 0 .986-.03.179-.054-1.791-.054-1.971 0-2.777.024-1.792.054"
                    fill="#1a9bb2" fill-rule="evenodd" />
            </clipPath>
        </defs>
    </svg>
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 518.421' style='position:absolute;' height='0' width='0'>
        <defs>
            <clipPath id='svgPathDropdown' clipPathUnits='objectBoundingBox'
                transform='scale(0.0025, 0.0019289342)'>
                <path
                    d="M6.108.467c.254.7-.653 1.336-1.662 1.166-.355-.059-.468.134-.313.537.153.397.025.63-.346.63-.541 0-.772.498-.62 1.342.033.188-.136.58-.377.87-.725.874-.797 3.087-.845 26.088-.025 12.323-.2 22.1-.395 22.1-.193 0-.35 1.26-.35 2.8 0 1.804.16 2.8.449 2.8.31 0 .295.185-.049.6-.35.422-.363.6-.044.6.43 0 .294 23.672-.14 24.374-.088.142-.127 4.779-.088 10.304.047 6.608-.065 9.964-.328 9.807-.22-.131-.153.066.149.438s.392.677.2.677c-.196 0-.302 10.27-.243 23.41.094 20.614.034 23.438-.5 23.643-.913.35-.919 32.947-.006 32.947.639 0 .632-.762.61 69.1-.004 12.815.127 23.301.291 23.301.335.001.255 40.216-.103 52.538-.132 4.529-.076 8.137.131 8.4.213.271.393 32.206.437 77.445.05 51.231.211 77.147.48 77.472.243.292.373 2.961.324 6.664-.044 3.398.016 6.335.135 6.529.119.193.177 2.061.13 4.151-.048 2.09.015 4.16.139 4.6.222.787.574.8 21.626.814 49.108.031 52.853.101 53.085.991.233.89 18.915 1.288 18.915.402 0-.242-3.561-.436-9.3-.507l-9.3-.115 9.687-.093c8.472-.08 9.659-.017 9.458.508-.204.531 4.778.6 43.369.6 38.387 0 43.628-.072 43.831-.6.196-.512 1.509-.587 8.942-.508l8.713.092-8.7.116c-5.339.071-8.7.267-8.7.508 0 .769 17.632.501 18.201-.276.689-.943-1.687-.875 40.399-1.15 31.158-.204 38.718-.356 40.084-.806 1.278-.422 4.627-.563 13.9-.588 7.387-.019 12.216-.181 12.216-.41 0-.519 11.879-.498 12.2.022.136.22.462.397.724.394.292-.004.25-.149-.109-.377-.371-.234 2.473-.381 7.751-.399 4.847-.018 8.533.132 8.805.358.45.373 56.082.704 56.451.336.091-.092.213-1.279.272-2.639.058-1.36.252-2.473.43-2.473s.214-.176.081-.392c-.133-.215-.058-.735.167-1.156.321-.599.779-22.562.806-38.599.001-.631.176-1.357.389-1.613.213-.257.25-.689.083-.96-.168-.271-.172-1.435-.009-2.586.333-2.361.901-100.85.748-129.652-.058-10.873.049-18.666.255-18.538.206.127.31-6.335.247-15.351-.096-13.643-.034-15.6.5-15.805.92-.353.929-76.148.009-76.148-.661 0-.647.913-.806-52.844-.042-14.434-.217-26.469-.387-26.744-.178-.289-.076-.65.242-.851.382-.242.401-.351.062-.355-.381-.005-.494-9.4-.515-42.906-.014-23.595-.186-43.89-.382-45.1-.505-3.125-.499-4.5.019-4.18.238.148.137-.305-.225-1.005-.514-.994-.555-1.397-.184-1.844.261-.314.302-.571.091-.571-.233 0-.358-2.945-.32-7.5.074-8.829-.028-9.311-1.937-9.161-1.023.081-1.321-.03-1.166-.435.156-.407-.046-.481-.798-.292-.566.142-1.124.064-1.274-.18-.483-.781-6.512-.55-6.988.268-.276.475-.412.523-.42.151-.01-.443-.128-.452-.612-.051-.33.274-.6.35-.6.169 0-.181-.216-.113-.48.151-.608.608-2.068.642-1.695.04.191-.309.05-.325-.477-.052-.961.498-44.931.431-45.71-.07-.42-.271-.477-.22-.223.2.282.469.232.476-.303.043-.476-.386-.714-.401-.926-.058-.211.341-.37.327-.606-.055-.26-.421-.438-.418-.959.014-.547.454-.603.436-.387-.125.14-.366.055-.657-.191-.657-.244 0-.446.225-.449.5-.004.347-.117.324-.37-.074-.275-.435-.495-.465-.907-.123-.335.278-.764.315-1.117.097-.342-.211-.763-.196-1.044.037-.314.26-.652.218-1.014-.128-.423-.405-3.469-.514-13.87-.497-7.33.012-13.411-.114-13.514-.28-.102-.166-.66-.121-1.239.099-.78.297-1.137.267-1.38-.115-.261-.412-.328-.405-.333.033-.005.454-.115.459-.636.026-.523-.434-.7-.425-1.031.051-.287.412-.455.44-.594.101-.133-.326-1.015-.414-2.819-.282-2.122.155-2.585.086-2.414-.36.116-.303-.033-.552-.333-.552-.299 0-.451.15-.338.334.114.183.016.333-.217.333-.233 0-.424-.157-.424-.348 0-.192-9.293-.399-20.7-.46-11.385-.061-23.58-.129-27.1-.152-4.319-.027-6.684-.203-7.274-.54-1.086-.622-2.526-.651-2.526-.051 0 .318-.148.326-.51.026-.485-.402-4.016-.478-29.09-.627-4.51-.026-8.453-.211-8.762-.41-.388-.25-.473-.219-.276.1.187.303-.067.462-.738.462-.563 0-1.024-.199-1.024-.443 0-.243-.27-.333-.6-.2l-1.266.511c-.407.164-.567.109-.412-.142.158-.256-.156-.345-.834-.237-.852.136-.958.081-.488-.252.471-.333.298-.425-.8-.425-1.05 0-1.25.097-.8.388.457.295.298.389-.667.394-.696.003-1.328-.179-1.403-.404-.09-.27-5.827-.441-16.733-.499-10.527-.056-16.704-.236-16.891-.49-.189-.259-.296-.243-.3.044-.003.245-.411.418-.906.384-.495-.034-.855-.279-.8-.545.116-.562-.547-.655-.875-.124-.338.546-3.004.451-2.793-.1.13-.339-2.598-.477-10.328-.523-16.192-.097-19.647-.198-20.404-.596-.453-.239-.7-.223-.7.045 0 .564-1.096.527-1.286-.043-.184-.554-2.314-.844-2.314-.316 0 .205-.191.373-.424.373-.233 0-.312-.18-.176-.4.23-.372-5.357-.49-22.1-.467-3.673.005-4.9-.119-4.9-.497 0-.276-.27-.503-.6-.503-.33 0-.6.24-.6.534 0 .293-.27.533-.6.533-.33 0-.6-.191-.6-.424 0-.233.225-.296.5-.141.374.211.369.142-.017-.273-.44-.473-.568-.471-.869.016-.282.455-.472.471-.943.081-.426-.354-3.571-.519-11.304-.593-7.918-.076-10.755-.229-10.873-.584-.088-.265-.336-.482-.551-.482-.215 0-.255.225-.09.5.217.36.118.352-.355-.031-.479-.389-2.568-.556-7.789-.623-3.924-.05-7.339-.217-7.588-.371-.249-.154-.527-.058-.617.214-.119.357-.489.279-1.335-.281-1.383-.918-2.758-1.237-2.328-.541.209.338.077.369-.475.11-.421-.198-2.778-.419-5.237-.492-3.277-.097-4.598-.286-4.949-.709-.263-.317-.757-.576-1.097-.576-.341 0-.924-.275-1.295-.611-.372-.336-1.556-.653-2.632-.705-1.076-.051-2.181-.237-2.456-.412-.307-.196-.502-.118-.506.204-.005.411-.081.405-.355-.027-.192-.303-.55-.428-.794-.277-.272.168-.445-.046-.445-.548 0-.905-.615-1.117-.935-.324-.161.4-.208.4-.233 0-.018-.275-.411-.5-.875-.5-.629 0-.781.178-.599.7.232.667.218.667-.301 0-.77-.989-2.143-.89-2.482.179l-.279.88-.815-.98C6.222.227 5.972.091 6.108.467"
                    fill="#ecfcfc" />
            </clipPath>
        </defs>
    </svg>


    <script src="./js/uikit.min.js"></script>
    <script src="./js/image-map.min.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>