<div class="banner uk-background-cover uk-position-relative uk-light"
    data-src="{{#if page.banner.src}}{{page.banner.src}}{{else}}{{aws}}/img/placeholder-castle-banner.jpg{{/if}}"
    data-uk-img>
    {{#if page.banner.lightbox}}
    {{#> ukLightbox autoplay=true class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-height-1-1"}}
    {{#*inline "out"}}
    <h1>{{page.h1}}</h1>
    <a class="uk-button uk-button-default uk-border-circle uk-padding-remove uk-position-relative"
        href="{{page.lightbox.href}}" data-caption="{{page.lightbox.caption}}" aria-label="{{page.lightbox.label}}">
        {{>renderIcon name="play" class="uk-position-center" viewBox="24 24"}}
    </a>
    <span class="uk-text-uppercase uk-display-block">Dive in</span>
    {{/inline}}
    {{/ukLightbox}}
    {{/if}}
    {{#if page.banner.home}}
    <div class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-height-1-1 uk-text-center">
        <div class="uk-container">
            <div class="uk-position-relative">
                <h1>Exploring the living seas around <br><span>Orkney’s North Isles</span></h1>
                <img class="uk-position-bottom-center shape" data-uk-svg src="./img/underline-shape-yellow.svg" alt="image">
            </div>
            {{#> ukGrid class="uk-grid-large uk-child-width-1-2@m uk-text-left"}}
            {{#*inline "cells"}}
            <div>
                <p class="uk-text-lead">This ‘diver’s eye’ virtual tour offers a unique insight into the underwater environment of the
                    <strong>North
                        Isles</strong>, revealing the rich diversity of marine habitats in Orkney waters and the
                    remarkable wealth of
                    life that they support.</p>
            </div>
            <div>
                <p><strong class="text-medium">We visit eight sites spread across <span class="uk-text-bolder">THE ISLAND GROUP</span></strong>. A short film at each location takes you on a journey of discovery, transitioning between the above
                    and below water zones and telling the stories of the wild creatures that make their living beneath
                    the waves. The tour takes in beds of kelp, maerl and eelgrass, vertical rock walls, submarine caves
                    and a shallow wreck site. Still photographs and links to external sites on each page, provide easy access to more information
                    and enable you to dive in further and learn more.</p>
            </div>
            {{/inline}}
            {{/ukGrid}}
        </div>
    </div>
    {{/if}}
</div>